
body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;}

h1{
    font-size: 50px;
}
.orange-highlight{
    color: darkorange;
}
.half-width{
    width: 40%;
    height: 50px;
    float: left;
    margin-left: 5%;
    padding: 2%;}
   
.half-width img{
    width: 100%;
}

.top-banner{
   
   background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}

section{
    width: 100%;
    height: 500px;
    margin-bottom: 400px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(25, 208, 240), rgb(132, 197, 181));
    padding: 1% 2%;
    border-radius: 5px;
    color: white;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box{
    width: 25%;
    float: left;
    margin: 3%;
    padding: 1%;
    height: 40pxs;
    
   
}
.exp{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5%;
    
    
}
img{
    width: 100%;
}

}
.background{
    background-color: rgb(10, 103, 131);
}
.workpart{
    width: 70%;
    background-image: url(images/tt.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
.
.last-button{
    float: right;
}
.lastpart{
    float: left;
}
